@page "/LastePage"

    @* <br>
    <br>
    <br>
    <h1  style ="text-align:center">Thanks for your buy</h1><br>
    <h2 style ="text-align:center">The order was registered</h2><br>
    <h3 style ="text-align:center">hope to see you again...</h3> *@


    <style>
    body {background-color: #64ACCE;} 
    </style>

<br><br><br><br>
<div style="width: 1450px ; background-color: #1E729A;">  
    <marquee style="font-size:70pt;" direction="left"><strong> Thanks for your buy</strong></marquee>  
</div>  
<div style="width: 1450px; background-color: #98D7F5;">  
    <marquee style="font-size:70pt;" direction="right"><strong> hope to see you again...</strong></marquee>  
</div> 
